@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital@0;1&display=swap');

/* 
Purple #5C364A 
Blue   #34315c
Gold   #f2a900
*/


html {
    font-family: 'Open Sans', sans-serif;
}
.vote-select {
    text-align: center;
    background-color: #192751;
    color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    color: #192751;
    margin-bottom: 0;
}
h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #192751;

}

h2 span {
    font-style: italic;
}

.container {
    margin: .5rem;
}

.rankings-check {
    background: #6A3D58;
    color: white;
    font-size: 1.25rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.ranking-container {
    text-align: center;
    margin-top: 3rem;
}

#voteConfirmation {
    text-align: center;
}

.leaderboard-check {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background: #6A3D58;
    color: white;
    font-size: 1.25rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

table {
    width: 100%;
    border-spacing: 0;
}

table th {
    text-align: left;
}


table tr:nth-child(even) {
    background-color:lightgray
}

.container.rank {
    padding-bottom: 4rem;
}

p {
    /* font-style: italic; */
    /* background-color: cornflowerblue;
    color: white; */
    padding: .5rem;
    color: grey;
    font-size: .9rem;
}